@media  screen and (min-width:390px) {

  header .container .items ul li:not(li:last-child) {
    display: none;
  }
  
}

@media screen and (min-width:768px) {

  .get .container {
    justify-content: space-evenly
  }

  .get .container .card{
    width: calc(95% /3);

  }

  .get .container .card.demo{
    width: calc(194% /3);
    
  }

  .testimonial .container .card{
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    
  }

  .testimonial .container .card div{
    width: 55%;
  }

  .benefits .container .card{
    width: calc(95% /2);
  }
  
}


@media  screen and (min-width:1020px){

  header .container,
  .get .container,
  .testimonial .container,
  .benefits .container
  {
    width: 70%;
    max-width: 1280px;
  }

  header .container .items ul li:not(li:last-child) {
    display: inline-block;
  }

  header .container .items ul li.hamburger-menu {
    display: none;
  }

  .planning .container{
    text-align: center;
    width: 65%;
    max-width: 1190px;
  }

  .planning .container .card{
    display: inline-block;
    width: 49%;
  }

  .planning .container .card.app{
    position: relative;
  }

  .benefits .container .card{
    width: calc(95% /3);

  }
}