/* reset  */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* general  */

.debug {
  background-color: rgba(255, 0, 0, 0.25);
  border: 1px solid black;
}

.container{
  margin: 0 auto;
}

.flex{
  display: flex;
}

/* header  */
header{
  position: fixed;
  height: 80px;
  width: 100%;
  margin-top: -80px;
  z-index: 999;
}

header .container {
  justify-content: space-between;
  align-items:center
}

header .logo{
  width: 200px;
  height: 80px;
}

header .container {
  width: 95%;
  

}

header .container .items ul {
  list-style-type: none;

}

header .container .items ul li {
  display: inline-block;
  text-align: center;
  line-height: 70px;
  padding: 0px 20px;
}

.hamburger-menu {
  width: 100px;
  height: 80px;
}

/* main  */
main{
  margin-top: 80px;
}

/* get  */

.get .container {
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  padding: 40px 0px;
}

.get .container .card{
  width: 100%;
  border-radius: 30px;
  margin: 10px 0px;
  padding: 20px;
}

/* planning  */

.planning .container {
  margin-top: 30px;
  width: 95%;

}

.planning .container .card {

}

.planning .container .card.strategic{
  color: white;
}

.planning .container .card.strategic h2 {
  margin: 30px;
}

.planning .container .card.app{
  text-align: center;
}